/*-----------------------------------*\
	$LAYOUT RULES
\*-----------------------------------*/

header, footer {
	width: 100%;
}

header {
	text-align: center;
	h1.logo {
		font-size: 60px;
		font-size: 3.75rem;
		color: $greyblack;
		a {
			color: inherit;
			&:hover {
				color: $coolblue;
			}
		}
	}
	section.menu-panel {
		position: relative;
		background-color: $greyblack;
		display: none;
		color: white;
	}
	p.pull a {
		color: $greyblack;
	}
}

footer {
	position: relative;
	height: auto;
	background-color: $blackgrey;
	color: $awhite;
	section.footer-widget {
		margin-top: 20px;
		width: 33%;
		float: left;
		padding: 1.25em;
	}
	.copyright {
		position: relative;
		margin-top: 40px;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}

.content {
	position: relative;
	width: 60em; /* 960px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

section.main {
	margin-bottom: 2.5em;
	article.post {
		padding: 1.25em;
		border-top: 1px dashed #ccc;
		h2.post-title {
			text-align: center;
			font-size: 30px;
			font-size: 1.875rem;
			color: $greyblack;
			a {
				color: inherit;
				&:hover {
					color: $coolblue;
				}
			}
		}
		p {
			margin-top: 1.25em;
			a {
				&:hover {
					color: $sorrow;
				}
			}
			a.more-link {
				text-align: center;
				display: block;
			}
		}
	}
}